<div class="dates" ng-app="MyApp" ng-controller="exampleController">
<div class="weather" *ngFor="let item of dates; let i = index"  (click)="hideme[i] = !hideme[i]">
  <h1><a>{{item.date}}</a></h1>
  <h2>Average {{item.day.avgtemp_c}}°C <img src="{{item.day.condition.icon}}"></h2>
  <div class="toggle-panel single-day" *ngIf="hideme[i]">
    <p>{{item.day.condition.text}}</p>
    <p>Max temperature: {{item.day.maxtemp_c}}°C</p>
    <p>Minimum temperature: {{item.day.mintemp_c}}°C</p>
    <p>Average humidity: {{item.day.avghumidity}}%</p>
  </div>
</div>
</div>
